DISCORD_TOKEN=твой_discord_токен_сюда
GROQ_API_KEY=твой_groq_ключ_сюда
DATABASE_URL=postgresql://postgres.uytiwscixojaqnsjowid:morisnexx07@aws-0-eu-west-2.pooler.supabase.com:6543/postgres
RANDOM_REPLY_CHANCE=0.15
